// Font Weights
$fw-semi-bold: 500;
$fw-bold: 700;

// Colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsla(0, 0%, 75%, 0.7);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

$white: hsl(0, 0%, 100%);

body {
	font-family: "Poppins", sans-serif;
	font-weight: $fw-semi-bold;
	font-size: 18px;
	background-color: $white;
}

p {
	line-height: 1.6;
	color: $grayish-violet;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $very-dark-blue;
	font-weight: $fw-bold;
}

.container {
	width: 88%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background-color: $cyan;
	color: $white;
	padding: 10px 32px;

	&.rounded {
		border-radius: 9999px;
	}
}

header {
	background-color: $white;

	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 24px;

		i.fa-bars {
			font-size: 26px;
		}
	}

	.mobile-navigation {
		background-color: $dark-violet;
		color: $white;
		padding: 36px 24px;
		border-radius: 8px;
		text-align: center;
		font-weight: $fw-bold;
		position: static;
		z-index: 1;

		.links {
			display: flex;
			flex-direction: column;
			gap: 32px;
			padding-bottom: 28px;
			border-bottom: 1px solid $gray;
			margin-bottom: 28px;
		}

		.user-actions {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}
}

#hero {
	.hero-img {
		max-width: unset; // to override reset css
		width: 500px;
		margin-left: 24px;
		margin-bottom: 36px;
	}

	.text-content {
		text-align: center;

		h1 {
			font-size: 36px;
			line-height: 1.2;
			overflow-y: hidden;
		}

		.hero-description {
			margin-top: 8px;
			margin-bottom: 32px;
		}
	}
}
