// Font Weights
$fw-semi-bold: 500;
$fw-bold: 700;

// Colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsla(0, 0%, 75%, 0.7);
$grayish-violet: hsl(257, 7%, 63%);
$light-gray: hsla(0, 2%, 91%, 0.8);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

$white: hsl(0, 0%, 100%);

body {
	font-family: "Poppins", sans-serif;
	font-weight: $fw-semi-bold;
	font-size: 18px;
	background-color: $white;
}

p {
	line-height: 1.6;
	color: $grayish-violet;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $very-dark-blue;
	font-weight: $fw-bold;
}

.container {
	width: 88%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background-color: $cyan;
	color: $white;
	padding: 10px 32px;
	transition: opacity 200ms ease;
	font-weight: $fw-bold;

	&.rounded {
		border-radius: 9999px;
	}

	&.cornered {
		border-radius: 8px;
	}

	&.secondary {
		background-color: $dark-violet;
	}

	&:hover {
		opacity: 0.8;
	}
}

.logo {
	cursor: pointer;
}

header {
	background-color: $white;
	margin-top: 40px;

	@mixin headerLink {
		color: $grayish-violet;
		transition: color 200ms ease;
		font-weight: $fw-bold;

		cursor: pointer;
		&:hover {
			color: $very-dark-blue;
		}
	}

	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;

		i.fa-bars {
			font-size: 26px;
		}
	}

	.header-desktop {
		display: flex;
		align-items: center;
		gap: 52px;
		margin-bottom: 64px;
		display: none;

		.links {
			flex: 1;
			display: flex;
			gap: 28px;

			.link {
				@include headerLink;
			}
		}

		.user-actions {
			display: flex;
			align-items: center;
			gap: 36px;

			.login-link {
				@include headerLink;
			}
		}
	}

	.mobile-navigation {
		background-color: $dark-violet;
		color: $white;
		padding: 36px 24px;
		border-radius: 8px;
		text-align: center;
		font-weight: $fw-bold;
		position: absolute;
		z-index: 1;
		width: 330px;

		.links {
			display: flex;
			flex-direction: column;
			gap: 32px;
			padding-bottom: 28px;
			border-bottom: 1px solid $gray;
			margin-bottom: 28px;
		}

		.user-actions {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}
}

#hero {
	overflow-x: hidden;
	padding-bottom: 180px;

	.hero-img {
		max-width: unset; // to override reset css
		width: 500px;
		margin-left: 24px;
		margin-bottom: 36px;
	}

	.text-content {
		text-align: center;

		h1 {
			font-size: 36px;
			line-height: 1.2;
			overflow-y: hidden;
		}

		.hero-description {
			margin-top: 8px;
			margin-bottom: 32px;
		}
	}
}

#url-shorter {
	background-color: $light-gray;

	.url-shorter-wrapper {
		position: relative;
		top: -80px;

		.actions {
			background-color: $dark-violet;
			display: flex;
			flex-direction: column;
			border-radius: 8px;
			padding: 20px;
			position: relative;

			& > *:not(.bg-shorten-img) {
				z-index: 2;
			}

			.bg-shorten-img {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
			}

			.url-input {
				padding: 12px;
				border-radius: 8px;
				margin-bottom: 4px;

				&.error {
					border: 3px solid $red;

					&::placeholder {
						opacity: 0.5;
						color: $red;
					}
				}

				&::placeholder {
					color: $grayish-violet;
				}
			}

			.error-message {
				font-size: 14px;
				color: $red;
				font-style: italic;
			}

			.btn {
				margin-top: 16px;
			}
		}

		.loading {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 24px;
			gap: 12px;

			.circle {
				width: 18px;
				height: 18px;
				border: 1px solid $dark-violet;
				border-radius: 50%;
				animation: animateLoading 500ms ease infinite alternate;
			}
			.triangle {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 20px solid $dark-violet;
				animation: animateLoading 500ms 200ms ease infinite alternate;
			}
			.square {
				width: 16px;
				height: 16px;
				border: 1px solid $dark-violet;
				animation: animateLoading 500ms 300ms ease infinite alternate;
			}

			@keyframes animateLoading {
				from {
					transform: translateY(0);
				}
				to {
					transform: translateY(-8px);
				}
			}
		}

		.shortened-urls {
			margin-top: 24px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			font-size: 16px;
			position: static;
			z-index: 2;

			.links-wrapper {
				background-color: $white;
				border-radius: 8px;
				padding: 16px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 52px;
					background-color: $gray;
					width: 100%;
					height: 1px;
				}

				.full-url {
					margin-bottom: 24px;
					display: inline-block;
					width: 28ch;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.shortened-link {
					display: flex;
					flex-direction: column;
					gap: 12px;

					.link {
						color: $cyan;
					}
				}
			}
		}
	}
}

#features {
	background-color: $light-gray;
	padding-bottom: 80px;

	.introduction {
		text-align: center;
		margin-bottom: 96px;

		.title {
			font-size: 28px;
			margin-bottom: 20px;
		}
	}

	.features-wrapper {
		display: flex;
		flex-direction: column;
		gap: 96px;

		.feature {
			background-color: $white;
			text-align: center;
			border-radius: 8px;
			padding: 0 28px 36px;
			position: relative;

			&:not(:last-child)::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 56px;
				background-color: $cyan;
				left: 50%;
				bottom: -56px;
				transform: translateX(-50%);
			}

			.img-wrapper {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 32px;
				margin-top: -40px;
				background-color: $dark-violet;
				padding: 20px;
				border-radius: 50%;

				.img {
					width: 40px;
					height: 40px;
				}
			}

			.title {
				margin-bottom: 12px;
				font-size: 20px;
			}

			.description {
				font-size: 16px;
			}
		}
	}
}

#get-started {
	background-color: $dark-violet;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: relative;

	& > * {
		position: static;
		z-index: 2;
	}

	.bg-img {
		position: absolute;
		top: 0;
		right: 0;
	}

	.title {
		color: $white;
		font-size: 26px;
	}
}

footer {
	background-color: $very-dark-violet;
	padding: 52px 0;
	font-size: 15px;

	.footer-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		svg.logo {
			margin-bottom: 56px;

			path {
				fill: $white;
			}
		}

		.site-map {
			display: flex;
			flex-direction: column;
			gap: 40px;
			text-align: center;

			a {
				color: $gray;
				transition: color 200ms ease;

				&:hover {
					color: $cyan;
				}
			}

			.site-links {
				.link-title {
					color: $white;
					margin-bottom: 20px;
				}

				.link-wrapper {
					display: flex;
					flex-direction: column;
					gap: 12px;
				}
			}

			.social-media-links {
				display: flex;
				gap: 24px;
			}
		}
	}
}

@media (width > 376px) {
	header {
		.header-mobile {
			display: none;
		}

		.header-desktop {
			display: flex;
			margin-bottom: 80px;
		}
	}

	#hero {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 68px;

		.hero-img {
			width: 700px;
			margin-left: 0;
			margin-bottom: 0;
			margin-right: -100px;
		}

		.text-content {
			text-align: left;
			width: 52ch;
			margin: unset;

			h1 {
				font-size: 75px;
			}

			.hero-description {
				font-size: 22px;
				width: 42ch;
			}
		}
	}

	#url-shorter {
		.url-shorter-wrapper {
			.actions {
				flex-direction: row;
				gap: 24px;
				align-items: center;
				height: 168px;
				padding: 0 56px;

				.url-input {
					margin-bottom: unset;
					height: 64px;
					padding: 24px;
					flex: 6;
				}

				.error-message {
					position: absolute;
					left: 80px;
					top: 124px;
					font-size: 15px;
				}

				.btn {
					margin-top: unset;
					height: 64px;
					flex: 1;
				}
			}

			.shortened-urls {
				font-size: 18px;

				.links-wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;

					&::before {
						display: none;
					}

					.full-url {
						margin-bottom: 0;
						display: inline-block;
						width: 48ch;
					}

					.shortened-link {
						flex-direction: row;
						align-items: center;
						justify-content: end;
						gap: 32px;
						width: 41ch;

						.btn {
							width: 140px;
						}
					}
				}
			}
		}
	}

	#features {
		.introduction {
			margin-bottom: 96px;

			.title {
				font-size: 40px;
			}

			.description {
				width: 45ch;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.features-wrapper {
			flex-direction: row;
			align-items: flex-start;
			gap: 28px;

			.feature {
				text-align: left;

				&:not(:last-child)::before {
					display: none;
				}

				@mixin featureBeforeElement($top) {
					content: "";
					position: absolute;
					background-color: $cyan;
					width: 28px;
					height: 8px;
					top: $top;
					right: -28px;
				}

				&:nth-child(1)::after {
					@include featureBeforeElement(58%);
				}

				&:nth-child(2)::after {
					@include featureBeforeElement(41%);
				}

				&:nth-child(2) {
					margin-top: 44px;
				}

				&:nth-child(3) {
					margin-top: 88px;
				}

				.title {
					font-size: 22px;
				}
			}
		}
	}

	#get-started {
		height: 250px;
		gap: 32px;

		.title {
			color: $white;
			font-size: 42px;
		}
	}

	footer {
		.footer-wrapper {
			flex-direction: row;
			align-items: unset;

			svg.logo {
				margin-bottom: 0;
				margin-right: 56px;
				flex: 1;
			}

			.site-map {
				flex-direction: row;
				text-align: left;
				gap: 84px;

				.social-media-links svg path:hover {
					fill: $cyan;
				}
			}
		}
	}
}
