// Font Weights
$fw-semi-bold: 500;
$fw-bold: 700;

// Colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsla(0, 0%, 75%, 0.7);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

$white: hsl(0, 0%, 100%);

body {
	font-family: "Poppins", sans-serif;
	font-weight: $fw-semi-bold;
	font-size: 18px;
	background-color: $white;
}

p {
	line-height: 1.6;
	color: $grayish-violet;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $very-dark-blue;
	font-weight: $fw-bold;
}

section {
	margin-bottom: 96px;
}

.container {
	width: 88%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background-color: $cyan;
	color: $white;
	padding: 10px 32px;

	&.rounded {
		border-radius: 9999px;
	}

	&.cornered {
		border-radius: 4px;
	}

	&.secondary {
		background-color: $dark-violet;
	}
}

header {
	background-color: $white;

	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 24px;

		i.fa-bars {
			font-size: 26px;
		}
	}

	.mobile-navigation {
		background-color: $dark-violet;
		color: $white;
		padding: 36px 24px;
		border-radius: 8px;
		text-align: center;
		font-weight: $fw-bold;
		position: absolute;
		z-index: 1;
		width: 330px;

		.links {
			display: flex;
			flex-direction: column;
			gap: 32px;
			padding-bottom: 28px;
			border-bottom: 1px solid $gray;
			margin-bottom: 28px;
		}

		.user-actions {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}
}

#hero {
	.hero-img {
		max-width: unset; // to override reset css
		width: 500px;
		margin-left: 24px;
		margin-bottom: 36px;
	}

	.text-content {
		text-align: center;

		h1 {
			font-size: 36px;
			line-height: 1.2;
			overflow-y: hidden;
		}

		.hero-description {
			margin-top: 8px;
			margin-bottom: 32px;
		}
	}
}

#url-shorter {
	.actions {
		background-color: $dark-violet;
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		padding: 20px;
		position: relative;

		& > *:not(.bg-shorten-img) {
			z-index: 2;
		}

		.bg-shorten-img {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
		}

		.url-input {
			padding: 12px;
			border-radius: 4px;
			margin-bottom: 4px;

			&::placeholder {
				color: $grayish-violet;
			}
		}

		.error-message {
			font-size: 14px;
			color: $red;
		}

		.btn {
			margin-top: 16px;
		}
	}

	.loading {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 24px;
		gap: 12px;
		height: 36px;

		.circle {
			width: 18px;
			height: 18px;
			border: 1px solid $cyan;
			border-radius: 50%;
			animation: animateLoading 500ms ease infinite alternate;
		}
		.triangle {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 20px solid $cyan;
			animation: animateLoading 500ms 200ms ease infinite alternate;
		}
		.square {
			width: 16px;
			height: 16px;
			border: 1px solid $cyan;
			animation: animateLoading 500ms 300ms ease infinite alternate;
		}

		@keyframes animateLoading {
			from {
				transform: translateY(0);
			}
			to {
				transform: translateY(-8px);
			}
		}
	}

	.shortened-urls {
		margin-top: 24px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		gap: 24px;
		font-size: 16px;

		.links-wrapper {
			border-radius: 8px;
			padding: 16px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 52px;
				background-color: $gray;
				width: 100%;
				height: 1px;
			}

			.full-url {
				margin-bottom: 24px;
				display: inline-block;
				width: 28ch;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.shortened-link {
				display: flex;
				flex-direction: column;
				gap: 12px;

				.link {
					color: $cyan;
				}
			}
		}
	}
}
